USE [master]
GO
/****** Object:  Database [DbKutuphane]    Script Date: 10.12.2019 15:51:37 ******/
CREATE DATABASE [DbKutuphane]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbKutuphane', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DbKutuphane.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbKutuphane_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DbKutuphane_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbKutuphane].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbKutuphane]
GO
/****** Object:  Table [dbo].[tblKitap]    Script Date: 10.12.2019 15:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKitap](
	[kitapID] [int] IDENTITY(1,1) NOT NULL,
	[kitapAd] [nvarchar](50) NOT NULL,
	[kitapYazarID] [int] NOT NULL,
	[kitapTurID] [int] NOT NULL,
	[kitapVerildiMi] [bit] NOT NULL,
 CONSTRAINT [PK_tblKitap] PRIMARY KEY CLUSTERED 
(
	[kitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTur]    Script Date: 10.12.2019 15:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTur](
	[TurID] [int] IDENTITY(1,1) NOT NULL,
	[TurAd] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_tblTur] PRIMARY KEY CLUSTERED 
(
	[TurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUye]    Script Date: 10.12.2019 15:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUye](
	[UyeID] [int] IDENTITY(1,1) NOT NULL,
	[UyeAd] [nvarchar](50) NOT NULL,
	[UyeSoyad] [nvarchar](50) NOT NULL,
	[UyeTel] [char](11) NOT NULL,
	[UyeMail] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblUye] PRIMARY KEY CLUSTERED 
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUyeKitap]    Script Date: 10.12.2019 15:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUyeKitap](
	[KitapID] [int] NOT NULL,
	[UyeID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblYazar]    Script Date: 10.12.2019 15:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblYazar](
	[YazarID] [int] IDENTITY(1,1) NOT NULL,
	[YazarAd] [nvarchar](50) NOT NULL,
	[YazarSoyad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblYazar] PRIMARY KEY CLUSTERED 
(
	[YazarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblUye] ON 

INSERT [dbo].[tblUye] ([UyeID], [UyeAd], [UyeSoyad], [UyeTel], [UyeMail]) VALUES (1, N'Alperen', N'Özşahin', N'05061172956', N'alprnozshn@gmail.com')
INSERT [dbo].[tblUye] ([UyeID], [UyeAd], [UyeSoyad], [UyeTel], [UyeMail]) VALUES (2, N'Şükret', N'Gürel', N'05530630203', N'sukretgurel@gmail.com')
SET IDENTITY_INSERT [dbo].[tblUye] OFF
ALTER TABLE [dbo].[tblKitap]  WITH CHECK ADD  CONSTRAINT [FK_tblKitap_tblTur] FOREIGN KEY([kitapTurID])
REFERENCES [dbo].[tblTur] ([TurID])
GO
ALTER TABLE [dbo].[tblKitap] CHECK CONSTRAINT [FK_tblKitap_tblTur]
GO
ALTER TABLE [dbo].[tblKitap]  WITH CHECK ADD  CONSTRAINT [FK_tblKitap_tblYazar] FOREIGN KEY([kitapYazarID])
REFERENCES [dbo].[tblYazar] ([YazarID])
GO
ALTER TABLE [dbo].[tblKitap] CHECK CONSTRAINT [FK_tblKitap_tblYazar]
GO
ALTER TABLE [dbo].[tblUyeKitap]  WITH CHECK ADD  CONSTRAINT [FK_tblUyeKitap_tblKitap] FOREIGN KEY([KitapID])
REFERENCES [dbo].[tblKitap] ([kitapID])
GO
ALTER TABLE [dbo].[tblUyeKitap] CHECK CONSTRAINT [FK_tblUyeKitap_tblKitap]
GO
ALTER TABLE [dbo].[tblUyeKitap]  WITH CHECK ADD  CONSTRAINT [FK_tblUyeKitap_tblUye] FOREIGN KEY([UyeID])
REFERENCES [dbo].[tblUye] ([UyeID])
GO
ALTER TABLE [dbo].[tblUyeKitap] CHECK CONSTRAINT [FK_tblUyeKitap_tblUye]
GO
USE [master]
GO
